<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<!--navbar-->
<nav th:replace="/partials/partials :: navbar"/>
<body>
<!--walkthrough code-->
<!--<h1>You guessed: <span th:text="${num}"></span></h1>-->
<!--<h1>The number was: <span th:text="${randomNum}"></span></h1>-->

<!--<h3 th:text="${message}"></h3>-->

<!--<a href="/roll-dice">Play again!</a>-->

<div th:if="${isTrue}">
    <p> you guessed  <span th:text="${num}"></span> The number was <span th:text="${roll}"></span>, you guessed correctly!</p>
</div>
<div th:if="${!isTrue}">
    <p> you guessed  <span th:text="${num}"></span> The number was <span th:text="${roll}"></span>, you guessed incorrectly!</p>

</div>

</body>
<!--footer-->
<footer th:replace="/partials/partials :: footer"/>
</html>